################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ConexionTurismo/v16
/.vs/ConexionTurismo/v15/Server/sqlite3
